.grid-container {
  display: grid;
  grid-template-columns:  1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "thread sidebar";
  width: 70%;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.sidebar { 
  grid-area: sidebar; 
}

