/* -------------------------------- */
/* -------------------------------- */
/* NAVBAR CONTAINERS */
/* -------------------------------- */
/* -------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15vw;
  background-color: #252129;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar-user {
  display: flex;
  align-items: center;
  flex-direction: row;
}




/* -------------------------------- */
/* -------------------------------- */
/* HOMEPAGE CONTAINERS */
/* -------------------------------- */
/* -------------------------------- */

.banner-container {
  background: rgb(255,89,94);
  background: linear-gradient(90deg, rgba(255,89,94,1) 0%, rgba(255,202,58,1) 100%);
  padding: 25vh 15vw 5vh 15vw;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.banner-container h1 {
  color: white;
  font-size: 3.157rem;
}

.banner-container span {
  color: white;
  font-size: 1.333rem;
}

.grid-container {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 0px; 
  grid-template-areas: 
    "posts-container sidebar-container";
  margin: 0 auto;
  padding: 2vh 15%;
}

.posts-container { 
  grid-area: posts-container; 
}

.sidebar-container {
  grid-area: sidebar-container;
  padding-top: 10px;
}





/* -------------------------------- */
/* -------------------------------- */
/* THREAD CONTAINERS */
/* -------------------------------- */
/* -------------------------------- */

.individual-post-container {
  display: flex;
  border: 1px solid #ededed;
  border-radius: 3px;
  margin: 10px;
  padding: 20px;
}

.individual-post-container:hover{
  border: 1px solid #D1D1D1;
}

.user-container {
  display: flex;
  flex-direction: row;
}




/* -------------------------------- */
/* -------------------------------- */
/* LOGIN SECTION CONTAINERS */
/* -------------------------------- */
/* -------------------------------- */

.login-container {
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "login-area background-wrapper"; 
  height: 100%;
}

.login-area { 
  grid-area: login-area; 
}

.background-wrapper {
  grid-area: background-wrapper;
  background-color: pink;
}

.form {
  display: flex;
  flex-direction: column;
}




/* -------------------------------- */
/* -------------------------------- */
/* FOOTER CONTAINERS */
/* -------------------------------- */
/* -------------------------------- */


.footer {
  height: 20%;
  background-color: #541e35;
  color: white;
  width: 100%;
}




/* -------------------------------- */
/* -------------------------------- */
/* PATTERNS */
/* -------------------------------- */
/* -------------------------------- */

.pattern-container-1 {
  width: 700px;
  height: 700px;
  position: absolute;
  bottom: -50;
  left: 50;
  background-image: url("../assets/shape-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0.5;
  z-index: -2;
}

.pattern-container-2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: -80px;
  background-image: url("../assets/shape-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0.5;
  z-index: -2;
}

.pattern-container-3 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: -60px;
  background-image: url("../assets/shape-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0.5;
  z-index: -2;
}


