/* NAVBAR CONTAINERS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15vw;
  background-color: #252129;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar-user {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* HOMEPAGE CONTAINERS */

.banner-container {
  background: rgb(255,89,94);
  background: linear-gradient(90deg, rgba(255,89,94,1) 0%, rgba(255,202,58,1) 100%);
  padding: 25vh 15vw 5vh 15vw;
}

.banner-container h1 {
  color: white;
  font-size: 3.157rem;
}

.banner-container span {
  color: white;
  font-size: 1.333rem;
}

.grid-container {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 0px; 
  grid-template-areas: 
    "posts-container sidebar-container";
  margin: 0 auto;
  padding: 0vh 15%;
}

.posts-container { 
  grid-area: posts-container; 
}

.sidebar-container {
  grid-area: sidebar-container;
}

/* LOGIN SECTION CONTAINERS */

.left-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-wrapper {
  height: 80%;
  background-color: white;
  padding: 10vh 15vw;
}

.login-area {
  padding: 5vh 0;
  padding-right: 10px;
}

.image-area {
  background-color: #a4c972;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}


/* FOOTER CONTAINER/S */

.footer {
  height: 20%;
  background-color: #541e35;
  color: white;
}

