.logo {
  max-height: 40px;
  min-width: 20px;
}

/* BUTTONS ------------------------ */

.btn {
  background-color: #FF595E ;
  color: white;
  padding: 5px 20px;
  margin-left: 20px;
  outline: 0;
  border: 1px solid #FF595E;
  border-radius: 3px;
}

.btn:hover {
  background-color: white;
  border: 1px solid #FF595E;
  color: #FF595E;
}

.btn-2 {
  background-color: white;
  color: #df5d2e;
  border: 1px solid #df5d2e;
}

.btn-2:hover {
  color: #a6a6a6;
  border: 1px solid #dadada;
}

.btn-3 {
  margin: 10px 0;
  width: 50%;
}

.btn-4 {
  background-color: #252129;
  border: 1px solid #252129;
  margin-top: 25px;
  margin-left: 0;
  padding: 10px 40px;
  border-radius: 5px;
}

.btn-4:hover {
  background-color: #FFCA3A;
  color: #252129;
  border: 1px solid #ffca3a;
}

