/* Table of Contents: */
/*    I.    Navbar */
/*    II.   Homepage */
/*    III.  Sidebar */
/*    IV.   Thread */
/*    V.    Rating Counter */
/*    VI.   Login and Signup  */
/*    VII.  Post Submission */
/*    VIII. Footer */

/*    X.    Sorted Threads */
/*    XI.    Full View of Posts */

/*    --- Notes: Standard designs are located in -preset.css files */



/* I. Navbar */

.logo {
  max-height: 30px;
}

/* II. Homepage */

.content-container {
  height: 100%;
  width: 100vw;
}

.posts-container { 
  grid-area: posts-container; 
  width: 100%;
}

/* III. Sidebar */

.sidebar-container {
  grid-area: sidebar-container;
}

.categories {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

/* IV. Thread */

.user-container {
  display: flex;
  flex-direction: row;
}

.fullview-post {
  background-color: #FFF3F4;
  padding: 5em 5vw;
}

.clickable-text {
  color: white;
}

.clickable-text:hover {
  color: #FF595E;
}

.user-tag {
  font-weight: 600;
  color: #FF595E;
  margin: 0 5px;
}


/* V. Rating Counter */

/* VI. Login and Signup  */

/* VII. Post Submission */

.right-align {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70%;
}

/* VIII. Footer */

/*    X.    Sorted Threads */

.default-width {
  padding: 3em 15%;
}

.category-banner {
  padding: 10vh 15% 5vh 15%;
}

.thread-tag {
  font-size: 1.777rem;
  color: white;
  margin: 0.75em 0;
  font-weight: 600;
}


/*    XI.    Full View of Posts */

.full-view-container {
  margin-right: 0;
  margin-top: 1em;
}

/*    XII.    Comment form, and section */

.comment-form {
  height: 50%;
  margin-bottom: 0.5em;
}

.comment-by-user {
  display: flex;
  margin-right: 0;
  flex-direction: column;
}