.huge-text {
  color: #df5d2e;
  font-size: 3.157rem;
  font-weight: 600;
}

.subtext {
  font-size: 1.333rem;
  color: #aeaeae;
}

.label {
  font-size: 0.75rem;
}

.input {
  border: 1px solid #dedede;
  padding: 10px 3px;
}

.clickable-text {
  color: white;
}

.clickable-text:hover {
  color: #FF595E;
}

.user-tag {
  font-weight: 600;
  color: #FF595E;
  margin: 0 5px;
}

.body-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30em;
}

.category-tag {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 2em;
}

.author-tag {
  font-size: 0.8rem;
  color: #7C7C7C;
}

.post-title {
  text-decoration: none;
  font-size: 1.333rem;
  color: black;
  margin: 0.5rem 0;
}

.num-of-comments-tag {
  font-size: 0.8rem;
}