.create-post-btn {
  margin: 10px 0;
  background-color: #FF9104;
  outline: none;
  color: white;
  border: none;
  padding: 5px;
  width: 100%;
}

.create-post-btn:hover {
  background-color: white;
  outline: 1px solid #FF9104;
  color: #FF9104;
  border: none;
  padding: 5px;
  width: 100%;
}

.catgs-bar {
  border: 1px solid #efefef;
  padding: 10px;
}