.container {
  display: flex;
  border: 1px solid #ededed;
  border-radius: 3px;
  margin: 10px;
  padding: 20px;
}

.container:hover{
  border: 1px solid #D1D1D1;
}

.user-section {
  display: flex;
  flex-direction: row;
}

.flair-tag {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 10px;
}

.author-tag {
  font-size: 0.8rem;
  color: #7C7C7C;
}

.title {
  text-decoration: none;
  font-size: 1.333rem;
  color: black;
  margin: 7px 0;
}

.num-of-comments-tag {
  font-size: 0.8rem;
  padding-top: 5px;
}