* {
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  display: block;
  overflow: auto;
}

h1 {
  font-size: 3.157rem;
}

.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bordered-container {
  display: flex;
  border: 1px solid #ededed;
  border-radius: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 20px;
  background-color: white;
}

.bordered-container:hover{
  border: 1px solid #D1D1D1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.form label {
  font-size: 0.75rem;
}

.form input {
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 10px 3px;
}

.form input:focus {
  border: 1px solid #df5d2e;
  outline: none;
}

.form select {
  width: 150px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-bottom: 1em;
}

.form select:focus {
  border: 1px solid #df5d2e;
}

.bold-text {
  font-weight: 600;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.btn {
  background-color: #FF595E ;
  color: white;
  padding: 0.25em 1.5em;
  outline: 0;
  border: 1px solid #FF595E;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #FF7B7F;
  border: 1px solid #FF7B7F;
  color: white;
}

#root {
  height: 100%;
  min-height: 100%;
}


